<!DOCTYPE html>
<html>
<!--- Header information about the page -->
<body>
<div layout:fragment="content">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script>
            /* Without these comments, Thymeleaf will try to parse the Javascript as XML and break itself sometimes */
            /*<![CDATA[*/
            var app = angular.module('myApp', []);
            app.controller('populateCtrl', function($scope, $http, $q) {

                /* Logic that handles controlling your page goes here */

                console.log($scope);

                $scope.onPress = function() {
                    alert("Your input: " + $scope.input1);
                    console.log($scope);
                };

                $scope.interweave = function(a, b) {
                    if (typeof a === "undefined") {
                        return b;
                    } else if (typeof b === "undefined") {
                        return a;
                    } else if (typeof a === "undefined" && typeof b === "undefined") {
                        return "";
                    }


                    shorterLength = Math.min(a.length, b.length);
                    newString = "";
                    for (let i = 0; i < shorterLength; i++) {
                        newString += a.charAt(i);
                        newString += b.charAt(i);
                    }

                    if (a.length > b.length) {
                        newString += a.slice(b.length - 1, a.length);
                    } else if (b.length > a.length) {
                        newString += b.slice(a.length - 1, b.length);
                    }

                    return newString;
                };

                $scope.selectOptions = [
				    "Coffee",
                    "Chocolate",
                    "Sugar",
                    "Milk",
                    "Oat Milk",
                    "Whipped Cream",
                    "Vanilla"
    		    ];

    		    $scope.teamMembers = [
    		        "Ben",
    		        "Cheng",
    		        "Marcus",
    		        "Darien"
    		    ];

    		    $scope.selectedMembers = {
    		        "Ben": true,
    		        "Cheng": true,
    		        "Marcus": true,
    		        "Darien": true
    		    };

    		    $scope.rude = function(selected) {
    		        if (!selected) {
    		            return "Well, that's rude!";
    		        } else {
    		            return "";
    		        }
    		    };

    		    $scope.foods = {
                    "Pizza":
                        [
                            {"restaurant": "Dominos"},
                            {"restaurant": "Portland Pie"}
                        ],
                    "Ice Cream":
                        [
                            {"restaurant": "Gelato Fiasco"},
                            {"restaurant": "Coldstone Creamery"}
                        ]
                };

            });

            /* Without these comments, Thymeleaf will try to parse the Javascript as XML and break itself sometimes */
            /*]]>*/
        </script>

    <div ng-app="myApp" ng-controller="populateCtrl">

        <!--- Various HTML elements, with extra tags telling Angular how to work with them, go here -->
        <button ng-click="onPress()">Press Me!</button>
        <input type="text" ng-model="input1"/>
        <input type="text" ng-model="input2"/>
        <p>Your interwoven input is: {{interweave(input1, input2)}}</p>
        <div class="col-sm">
            Select an ingredient:<br/>
            <select ng-model="selection" ng-options="item for item in selectOptions"></select>
        </div>
        <div class="col-sm">
            Select the best teammates:<br/>
            <div ng-repeat="member in teamMembers track by $index">
                <input type="checkbox"
                       ng-model="$parent.selectedMembers[member]">
                <tt>{{member}} {{rude($parent.selectedMembers[member])}}</tt>
                </input>
            </div>
        </div>
        <div ng-repeat="(food, ingredients) in foods track by $index">
            Restaraunts for {{food}}:
            <ul id="{{food}}">
                <li ng-repeat="ingredient in ingredients">{{ingredient.restaurant}}</li>
            </ul>
        </div>
    </div>

</div>

</body>
</html>